@model GarageRev.Models.Carros

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Carros</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Versao" class="control-label"></label>
                <input asp-for="Versao" class="form-control" />
                <span asp-validation-for="Versao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Combustivel" class="control-label"></label>
                <input asp-for="Combustivel" class="form-control" />
                <span asp-validation-for="Combustivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CilindradaouCapacidadeBateria" class="control-label"></label>
                <input asp-for="CilindradaouCapacidadeBateria" class="form-control" />
                <span asp-validation-for="CilindradaouCapacidadeBateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Potencia" class="control-label"></label>
                <input asp-for="Potencia" class="form-control" />
                <span asp-validation-for="Potencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCaixa" class="control-label"></label>
                <input asp-for="TipoCaixa" class="form-control" />
                <span asp-validation-for="TipoCaixa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nportas" class="control-label"></label>
                <input asp-for="Nportas" class="form-control" />
                <span asp-validation-for="Nportas" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Fotografia" class="control-label"></label>
                <input asp-for="Fotografia" class="form-control" />
                <span asp-validation-for="Fotografia" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
